/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/***********************/
/*******   BODY   ******/
/***********************/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: var(--base-font-size);
  font-family: var(--base-font-family), sans-serif;
  background-color: var(--base-background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: var(--base-content-font-weight);
  }
  .section__card-title {
    font-variation-settings: var(--base-title-font-weight);
  }
}

.content__section {
  background-color: var(--base-background-color);
  width: clamp(375px, 50vw, 700px);
  margin: auto;
  border: var(--base-border);
}

/*************************/
/*******   HEADER   ******/
/*************************/

.header {
  margin-block: var(--header-footer-margin-block);
  font-family: var(--accent-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  margin-block-start: clamp(120px, 9.444vw, 136px);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin-block-start: 20px;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: var(--accent-font-size);
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:disabled::before {
  content: "▶️";
  position: absolute;
  left: -22px;
  animation: moveArrow 0.5s ease-in-out alternate infinite;
}

/**************************/
/*******   CONTENT   ******/
/**************************/

.main {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.section__card-title {
  font-size: var(--base-font-size);
  padding-inline: 10px;
  padding-block: 3px;
}

.section__card-figure {
  display: flex;
  position: relative;
  border-block-start: var(--base-border);
  border-block-end: var(--base-border);
}

.section__card-figure::after {
  content: "";
  position: absolute;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  color: transparent;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: var(--text-shadow);
}

@supports (
  (text-stroke: var(--text-stroke)) or (-webkit-text-stroke: var(--text-stroke))
) {
  .section__card-figure::after {
    -webkit-text-stroke: var(--text-stroke);
    text-stroke: var(--text-stroke);
    text-shadow: none;
  }
}

.sprint__0 .section__card-figure::after {
  content: "<Web-Inspiration>";
}
.sprint__1-start .section__card-figure::after {
  content: "<Start moving>";
}
.sprint__1-final .section__card-figure::after {
  content: "<Forward Momentum>";
}
.sprint__2-start .section__card-figure::after {
  content: "<Progressive Growth>";
}
.sprint__2-final .section__card-figure::after {
  content: "<Supportive Synergy>";
}
.sprint__3-start .section__card-figure::after {
  content: "<Innovative Resilience>";
}
.sprint__3-final .section__card-figure::after {
  content: "<Inspired Endurance>";
}
.sprint__4 .section__card-figure::after {
  content: "<Design Expression>";
}

.section__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sprint__0 .section__card-img {
  filter: contrast(200%) brightness(80%);
}
.sprint__1-start .section__card-img {
  filter: contrast(200%) brightness(80%);
}
.sprint__1-final .section__card-img {
  filter: blur(2px);
}
.sprint__2-start .section__card-img {
  filter: brightness(150%);
}
.sprint__2-final .section__card-img {
  filter: contrast(200%) brightness(70%);
}
.sprint__3-start .section__card-img {
  filter: hue-rotate(180deg);
}
.sprint__3-final .section__card-img {
  filter: invert(100%) sepia(30%) hue-rotate(90deg) brightness(90%);
}
.sprint__4 .section__card-img {
  filter: saturate(200%) brightness(80%);
}

.section__card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__icon-like-container {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.card__icon-button {
  background: none;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--base-border);
}

.card__icon-button svg {
  width: 27px;
  fill: var(--accent-color);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 118px;
  border: var(--base-border);
  font-family: var(--accent-font-family);
  background-color: var(--base-background-color);
  font-size: var(--accent-font-size);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out, left 0.5s;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px;
}

.sparks {
  opacity: 0;
}

/*************************/
/*******   FOOTER   ******/
/*************************/

.footer {
  margin-block-start: var(--card-gap);
  margin-block-end: var(--header-footer-margin-block);
  width: clamp(310px, 50vw, 339px);
  background-color: var(--base-background-color);
  border: none;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: var(--base-border);
  outline: none;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  background-color: var(--base-background-color);
  padding-block: 15px;
  padding-inline: 19px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.footer__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
}

.footer__button:hover::before {
  transform: translateX(100%);
}

.footer__button svg {
  width: 21px; /*media*/
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer__button:hover {
  cursor: pointer;
}

.footer__button:focus {
  box-shadow: 2px 2px;
}

/*************************/
/*******   DIALOG   ******/
/*************************/

.ok__dialog {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  line-height: 150%;
  color: var(--accent-color);
  padding: 0;
  font-size: 14px;
  background-color: var(--base-background-color);
}

.ok__dialog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(341px, 50vw, 357px);
  padding: 32px;
}

.ok__dialog-figure {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ok__dialog-figure-text {
  max-width: 234px;
}

.ok__dialog-figure svg {
  min-width: 39px;
  max-height: 39px;
  fill: var(--accent-color);
}

.ok__dialog-button button {
  width: 100%;
  min-height: 38px;
  outline: none;
  border: var(--base-border);
  text-transform: uppercase;
  background-color: var(--base-background-color);
  font-family: var(--accent-font-family);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.ok__dialog-button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;

}

.ok__dialog-button button:hover::before {
  transform: translateX(100%);
}

.ok__dialog-button button:focus {
  box-shadow: 2px 2px;
}

.ok__dialog-button button:hover {
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

/************************/
/*******   MEDIA   ******/
/************************/

@media screen and (max-width: 675px) {
  .footer__button svg {
    width: 28px; /*media*/
  }
}
