/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --base-background-color: rgb(255, 255, 255);
  --accent-color: rgb(0, 0, 0);
  --base-content-font-weight: 'wght' 400, 'wdth' 110, 'opsz' 0;
  --base-title-font-weight: 'wght' 700, 'wdth' 100, 'opsz' 0;
  --base-border: 2px solid #000;
  --text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  --text-stroke: 0.5px #fff;
  --theme-menu__button-hover-color: grey;
  --background-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --base-background-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 0, 0);
    --base-content-font-weight: 'wght' 400, 'wdth' 110, 'opsz' 0;
    --base-title-font-weight: 'wght' 700, 'wdth' 100, 'opsz' 0;
    --base-border: 2px solid #000;
    --text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    --text-stroke: 0.5px #fff;
    --theme-menu__button-hover-color: grey;
    --background-gradient: repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  }
}

:root.theme-dark {
  --base-background-color: rgb(0, 0, 0);
  --accent-color: rgb(0, 204, 20);
  --base-content-font-weight: 'wght' 400, 'wdth' 110, 'opsz' 0;
  --base-title-font-weight: 'wght' 800, 'wdth' 100, 'opsz' 0;
  --base-border: 2px solid rgb(0, 204, 20);
  --text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  --text-stroke: 0.5px #000;
  --theme-menu__button-hover-color: rgb(80, 160, 90);
  --background-gradient: repeating-linear-gradient(
      to right,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --base-background-color: rgb(0, 0, 0);
    --accent-color: rgb(0, 204, 20);
    --base-content-font-weight: 'wght' 400, 'wdth' 110, 'opsz' 0;
    --base-title-font-weight: 'wght' 800, 'wdth' 100, 'opsz' 0;
    --base-border: 2px solid rgb(0, 204, 20);
    --text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    --text-stroke: 0.5px #000;
    --theme-menu__button-hover-color: rgb(80, 160, 90);
    --background-gradient: repeating-linear-gradient(
        to right,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #007f0c, #004306);
  }
}
